<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= campground.title %> campground</title>
</head>

<body> -->
<% layout('layouts/boilerplate') %>
<div class="nNe_wrapper">
  <h1 class="nNe_h1"><%= campground.title.toUpperCase() %></h1>
  <div class="nNe_formWrapper">
    <form action="/campgrounds/<%= campground._id%>?_method=PUT " method="POST">
      <div>
        <label class="nNe_title" for="title">Name of the campround</label>
        <input
          class="nNe_input"
          type="text"
          id="title"
          name="campground[title]"
          style="text-transform: capitalize"
          placeholder="What is this place called?"
          value="<%=campground.title %>"
          required
        />
      </div>
      <br />
      <div>
        <label class="nNe_title" for="description">About the campground</label>
        <input type="text"
          class="nNe_input nNe_desc"
          id="description"
          name="campground[details]"
          placeholder="Tell us more about the campground here!"
          style="text-align: left; font-family: inherit"
          value="<%=campground.description %>"
          required
        >
        </textarea>
      </div>
      <br />
      <div>
        <label class="nNe_title" for="price">Price of participation</label>
        <div class="nNe_price">
          <div class="nNe_currency">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"  fill="white" class="bi bi-currency-pound" viewBox="0 0 15 15">
              <path d="M4 8.585h1.969c.115.465.186.939.186 1.43 0 1.385-.736 2.496-2.075 2.771V14H12v-1.24H6.492v-.129c.825-.525 1.135-1.446 1.135-2.694 0-.465-.07-.913-.168-1.352h3.29v-.972H7.22c-.186-.723-.372-1.455-.372-2.247 0-1.274 1.047-2.066 2.58-2.066a5.32 5.32 0 0 1 2.103.465V2.456A5.629 5.629 0 0 0 9.348 2C6.865 2 5.322 3.291 5.322 5.366c0 .775.195 1.515.399 2.247H4v.972z"/>
            </svg>
          </div>
          <input
            class="nNe_input"
            type="text"
            id="price"
            name="campground[price]"
            value="<%=campground.price %>"
            data-type="currency"
            required
            style="width:50%"
          />
        </div>
      </div>
      <!-- pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" -->
      <br />
      <div>
        <label class="nNe_title" for="location">Location</label>
        <input
          class="nNe_input"
          type="text"
          id="location"
          name="campground[location]"
          style="text-transform: capitalize"
          placeholder="Where is this place located?"
          value="<%=campground.location %>"
          required
        />
        <!-- <select id="location" name="campground[location]" style="width:250px;">
                </select> -->
      </div>
      <br />
      <div>
        <label class="nNe_title" for="location">Image Url</label>
        <input
          class="nNe_input"
          type="text"
          id="img_url"
          name="campground[image]"
          placeholder="Image link"
          required
        />
      </div>
      <div
        style="width: inherit; display: flex; justify-content: space-between"
      >
        <button class="nNe_saveBtn">Make Changes</button>
        <a class="nNe_cancel" href="/campgrounds/<%= campground._id %>"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
<!-- </body>

    </html> -->
